body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

header {
  background-color: #383;
  color: #fff;
  padding: 1em;
}

h1 {
  font-style: italic;
    
}

h2 {
  font-size: 20px;
}

p {
  position: absolute;
  top: 180px;
  left: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}

prod {
  position: relative;
  top: 260px;
  left: 40px;
  padding: 1em;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.consulta {
  position: absolute;
  top: 250px;
  left: 50px;
}

.telefono {
  position: absolute;
  top: 220px;
  left: 50px;
}

.info {
  display: none;
}

.agricultor{
  position: absolute;
  top: 320px;
  left: 60px;
  width: 95%;
  display: table;
}

.cult {
  display: table;
  position: relative;
  top: 280px;
  left: 30px;
  max-height: 100px;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 95%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}